<head>
    <title>Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>這是一個老虎雞</h1>

    <div id="roulette">
        <%=@value%>
    </div>

    <button id="modify-button">REROLL</button>

    <script>
    document.getElementById('modify-button').addEventListener('click', function() {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/slots/update_roulettes', true);
        xhr.onload = function() {
        if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
            document.getElementById('roulette').innerText = response.value;
            document.getElementById('user_balance').innerText = response.balance;
        }
        };
        xhr.send();
    });
    </script>
</body>
