<div class="content">
  <div id="banner">
    <div id="status">
      <h3 id="ranking" class="statustext"># Newbie</h3>
      <h3 id="balance" class="statustext">$ 100</h3>
    </div>

    <button class="circular-button fa-solid fa-user-tie"></button>
    <button class="circular-button fa-solid fa-gear"></button>
  </div>
  <button id="news"><i class="fa fa-bullhorn"></i> 公告</button>
  <%= image_tag('ezs807.png', id: 'menu-character') %>

  <div class="menu-buttons">
    <button>匹配房間</button>
    <button>房間列表</button>
    <button>單人遊戲</button>
    <div class="circular-buttons">
      <button class="circular-button fa-solid fa-ranking-star"></button>
      <button class="circular-button fa fa-history"></button>
      <button class="circular-button fa-solid fa-briefcase"></button>
      <button class="circular-button fa fa-shopping-cart"></button>
    </div>
  </div>
</div>
