@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
*{
    font-family: "ar-yuanb5std", sans-serif;
    font-weight: 1000;
    font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #282828; /* Placeholder color */
}

#main-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#main-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    text-align: center;
}

.content {
    display: flex;
    background-image: url("/assets/bg.png");
    background-color: #2b2c3a;
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282828; /* Placeholder color */
}

.menu-buttons {
    height: 75%;
    position: relative;
    left: 10%;
    top: 25%;
    grid-gap: 6%; /* Spacing between buttons */
    display:grid;
    width: 40%;

    object-fit: contain; /* Preserve aspect ratio */
}



.menu-buttons button {
    background: url("/assets/wood.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    background-color: #270c0250; /* Button background color */
    color: #fff; /* Button text color */

    text-align: center;
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,.8));
    border-style:none;
    border-radius: 2vw;
}

.menu-buttons button:hover {
    transform: 1s;
    box-shadow: 0 2vw 2vw 0.5vw rgba(255, 162, 235, 0.272);
}

.menu-buttons .circular-buttons {
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.menu-buttons .circular-button {
    border-radius: 5vw;
    background-color: #270c0250; /* Button background color */
    color: #fff; /* Button text color */
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,.8));

    height: 8vw;
    width: 8vw;
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-character {
    height: 85%;
    width: 40%;
    position: relative;
    left: 5%;
    top: 25%;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.8));
    object-fit: contain; /* Preserve aspect ratio */
}

#news {
    color: #ffffff; /* Button text color */
    height: 10%;
    
    border-radius: 2vw;

    background-color: #270c0250; /* Button background color */
    background: url("/assets/wood.png");
    background-size: cover;
    border: 4px solid transparent;
    width: 20%;
    top:3%;
    left: 3%;
    position: absolute;

    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.8));
    object-fit: contain; /* Preserve aspect ratio */
}

#banner {
    color: #ffffff; /* Button text color */
    height: 10%;
    
    border-radius: 2vw;

    background-color: #270c0250; /* Button background color */
    background: url("/assets/wood.png");
    background-size: cover;
    border: 4px solid transparent;
    width: 25%;
    top: 3%;
    right: 3%;
    position: absolute;

    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.8));
    object-fit: contain; /* Preserve aspect ratio */
}

#menu-character:hover {
    transform: 1s;

    filter: drop-shadow( 0vw 0vw 2vw rgba(255, 0, 0, 0.469));

}

#news:hover {
    transform: 1s;
    box-shadow: 0 1vw 1vw 0.5vw rgba(255, 162, 235, 0.272);
}

#status {
    display: grid;
    width: 60%;
    height: 100%;
}

#banner {
    align-items: center;
    vertical-align: center;
    display: flex;
}

#ranking {
    color: lightgray;
    text-align: left;
    font-size: 1.5vw;
    margin: 4%;
    margin-bottom: 0%;
    margin-left: 7%;
    width: 100%;
    height: 100%;
}
#balance {
    color: rgb(161, 206, 94);
    text-align: left;
    font-size: 1.5vw;
    margin: 4%;
    margin-bottom: 0%;
    margin-left: 7%;
    width: 100%;
    height: 100%;
}

#banner .circular-button {
    border-radius: 5vw;
    background-color: #270c0250; /* Button background color */
    color: #fff; /* Button text color */
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,.8));
    height: 5vw;
    width: 5.7vw;
    margin: 2.5%;
    border-radius: 50%; /* Make it a circle */
}

#banner .circular-button {
    font-size: 2.5vw;
    border-style: none;
    border-radius: 50%; /* 使按钮成为正圆形 */
    background-color: #270c0250; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,.8)); /* 阴影效果 */
    height: 4vw; 
    width: 4vw; 
    margin: auto; 
}
